@import "globals";

.header{
  width:100%;

  font-size:25px;
  font-weight:700;
  padding-left:10px;
  padding-right:10px;


  height:$headerAndFooterHeight;

   >.user-bar{
       width:100%;
       height:$headerAndFooterHeight;
       position:absolute;
       background-color:$colorBG;
       left:0px;

       &.inactive{
           top:-$headerAndFooterHeight;
       }
       &.active{
           top:0px;
       }
   }
   >.helper-wrapper{
       font-size:25px;
       font-weight:700;
       padding-left:10px;
       padding-right:10px;
       position:absolute;
       left:0px;
       height:$headerAndFooterHeight;
       color:$colorAccentLight;
       background-color:$colorBG;
       box-shadow:$boxShadowMed;
       border-color:$colorAccentLight;
       font-family:$fontCursive;
       width:100%;
       display:flex;
       border-bottom-style:solid;
       border-width:thin;
       align-items:center;
       &.inactive{
           top:0px;
       }
       &.active{
           top:$headerAndFooterHeight;
       }
       >div{
           justify-content:center;
           display:flex;
           align-items:center;
       }

       >i{
           flex:1;
           text-align:right;
       }

       >span{
           flex:1;
           text-align:right;
       }

   }
}
