@import "globals";

.query-item{
  background-color:$colorAccentLight;
  box-shadow:$boxShadowSmall;
  display:flex;

  >span{
    flex:1;
    padding:5px;
  }
  >.clear{
    display:flex;
    justify-content:right;
    align-items:center;
    padding:5px;
    background-color:$colorAccentDark;
  }
}
